*{
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.clearfix{
    float: none;
    clear: both;
}

#website-area{
    width: 100%;
}


/* CSS styles for nav */

#header{
    width: 100%;
    height: 75px; /*+ 20px*/
    border-bottom: 1px solid rgba(68, 67, 67, 0.5);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -3px 1px 7px rgb(82, 81, 81);
}

.menu-fixed{
    position: sticky;
    z-index: 1000;
    top: 0px;
    background: #f7f7f7;
}

#logo{
    display:flex;
    background: linear-gradient(to left, #9934ef   0%, #5e09f0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 10px 0 20px;
    border: 0px solid #50aa72;
}


#logo h2{
    width: 100%;
    padding-top: 5px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

#nav{
    display: flex;
    flex-grow: 1;
    height: 22px;
}

#nav > ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
    border: 0px solid blue;  
}

#nav ul li{
    margin: 0;
    margin-right: 0px;
    margin-right: 5%; /* Was 7% */
    height: 100%;
    border: 0px solid orange;
}

#nav > ul a{
    color: #353536;
    transition: all 400ms;
}

#nav ul li a:hover{
    display: block;
    color: #b662ff;
    transform: scale(1.09,1.09);
}
/*
@media (max-width: 573px){
    #nav ul li a{
        font-size: 15px;
    }
}
*/
@media (max-width: 550px){
    #header{
        height: 122px; /*sume 40px*/
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    #logo{
        width: 100%;
        margin: 0 0 0 0;
        flex-basis: 50%;
        align-items: center;
    }

    #logo h2 {
        padding-top: 8px;
    }

    #nav{
        flex-basis: 45%;
        width: 100%;
        padding-top: 10px;
    }

    #nav > ul{
        width: 100%;
        justify-content: space-evenly;
    }

    #nav ul li{
        margin: 0;
        line-height: 35px;
    }
    #nav ul li a{
        font-size: 15px;
    }

}

/*
@media (max-width: 420px){
    #nav ul li a{
        font-size: 13px;
    }
}
*/

/* Index styles */

#index-area{
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    border: 0px solid red;
}

#banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    background: #171B26;
    border: 0px solid blue;
    box-shadow: 0px 2px 9px rgb(82, 81, 81);
}


#banner-content{
    display: flex;
}

#banner-content #banner-title{
    color: #fff;
    font-size: 60px;
    font-weight: 500;
}

#banner-content .option{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.option li{
    list-style: none;
    color: #b662ff;
    font-size: 60px;
    font-weight: 600;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -360px
    }
}
    .option li span{
        position: relative;
        margin: 5px 0;
        line-height: 90px;
    }

    .option li span:after{
        content:'';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #171B26;
        border-left: 3px solid #50aa72;
        animation: typing 3s steps(10) infinite;
    }
    @keyframes typing{
        40%, 60%{
            left: calc(100% + 30px);
        }
        100%{
            left: 0;
        }
    }

@media (max-width: 900px){
    #banner-content{
        display: flex;
        flex-direction: column;
    }

    #banner-content .option #banner-web,
    #banner-content .option #banner-code{
        margin-left: 70px;
    }
    #banner-content .option #banner-backend{
        margin-left: 5px;
    }
    #banner-content .option #banner-developer{
        margin-left: 0px;
    }
}

/* Profile styles */
.card-area{
    display: block;
    width: 100%;
    height: auto;
    background: #ffffff;
    border: 0px solid red;
}

#profile-title,
#skills-title,
#projects-title{
    margin: 0 auto;
    margin-top: 110px;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #9934ef ;
}

#skills-title{
    color: #ffffff;
    padding-top: 15px;
}

#projects-title{
    margin-top: 70px;
}

.info-card{
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 140px;
    text-align: center;
    overflow: hidden;
}

.info-card-projects{
    margin-top: 60px;
    margin-bottom: 0;
}

.card-info{
    font-size: 30px;
    font-weight: 300;
    color: #353536;
    overflow: hidden;
}

.purple-card-area{
    width: 100%;
    min-height: 400px;
    background: rgb(140,7,255);
    background: linear-gradient(0deg, rgb(147, 36, 245) 0%, rgba(153,52,224,1) 100%);
    box-shadow: 0px 2px 9px rgb(82, 81, 81);
}

.skills-cards-container{
    display: inline-flex;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
    height: auto;
    border: 0px solid black;
}

.skills-cards{
    margin-top: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 0px solid white;
}

.skills-cards img{
    max-width: 100px;
    min-width: 100;
    max-height: 100px;
    min-height: 50px;
    margin-top: 45px;
    transition: 400ms ;
    cursor: pointer;
}

#fastapi-logo{
    width: 150px;
}

.skills-cards img:hover{
    transform: scale(1.05, 1.05);
}

@media (max-width: 1000px){
    #profile-title{
        font-size: 55px;
    }

    .info-card{
        width: 95%;
    }

    .card-info{
        font-size: 21px;
    }
}

.down-button{
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 60px;
    height: 60px;
    border: 1px solid #9934ef;
    background: #9934ef;
    box-shadow: -1px 2px 5px rgb(82, 81, 81);
    cursor: pointer;
    transition: 200ms;
}

#up-button{
    margin-bottom: 60px;
}

.down-button:hover{
    transform: scale(1.09, 1.09);
}

#banner-button{
    display: block;
    width: 100%;
    height: auto;
}

.down-button{
    margin-top: 50px;
}

.arrow{
    margin-top: 50px;
}

.arrow,
.arrow:before{
  position:absolute;
  left: 50%;
}
.arrow{
    width: 30px;
    height: 30px;
    margin: 10px 0 0 -15px;
    transform:rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 3px #fff solid;
    border-bottom: 3px #fff solid;
}

#up-button .arrow{
    margin: 17px 0 0 -15px;
    transform:rotate(224deg);
}
  
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    margin: 0px 0 0 -13px;
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    animation: arrow 2s infinite;
}
@keyframes arrow{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.purple-card-area .down-button{
    background: #ffffff;
}

.purple-card-area .down-button .arrow{
    border-right: 3px #9934ef solid;
    border-bottom: 3px #9934ef solid;
}

.class-dark-area .down-button{
    background: #b662ff;
}

.purple-card-area .down-button .arrow:before{
    border-right: 3px #9934ef solid;
    border-bottom: 3px #9934ef solid;
}

.projects-link{
    font-size: 20px;
    color: #b662ff;
    transition: 300ms;
}

.projects-link:hover{
    color: #9934ef;
}

.projects-img-container{
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.projects-img-container iframe{
    max-width: 500px;
    max-height: 300px;
}

@media (max-width: 580px){
    .projects-img-container iframe{
        max-width: 400px;
        max-height: 250px;
    }
}

@media (max-width: 440px){
    .projects-img-container iframe{
        max-width: 300px;
        max-height: 200px;
    }
}

/* Footer styles */
#footer-container{
    width: 100%;
    height: 155px;
    background: #f7f7f7;
    border-bottom: 1px solid rgba(68, 67, 67, 0.5);
    box-shadow: -3px 0px 20px rgb(82, 81, 81);
}

#footer-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

#footer-content h3,
#footer-content p{
    margin-bottom: 3px;
}

#footer-content h3{
    color: #b662ff;
}

#footer-content p{
    font-size: 15px;
    color: #b662ff;
    /*#50aa72*/
}