{% extends "layout.html" %}

{% load static %}
{% block body %}

    <section id="index-area ">
        <div id="banner-container">
            
            <div id="banner-content" class="target3">

                <h1 id="banner-title">Juan Najul</h1>
                <ul class="option">
                    <li><span id="banner-web">Web</span></li>
                    <li><span id="banner-code">Code</span></li>
                    <li><span id="banner-backend">Backend</span></li>
                    <li><span id="banner-developer">Developer</span></li>
                </ul>
                
                
            </div>
            
            <div id="banner-button">
                <a class="section1" href="#">
                    <div class="down-button">
                        <div class="arrow"></div>
                    </div>
                </a>
                
            </div>
            
        </div>
        <div class="target1"></div>
        <div class="card-area">
            <div class="card-container ">
                <h2 id="profile-title">Profile</h2>
                <div class="info-card">
                    <p class="card-info">
                        My name is Juan Andres Najul, I'm from Venezuela and I'm a backend developer.
                        I'm an Electronic and Computer Engineer in my last year of career. I'm
                        passionate about software and tech world.
                    </p>
                </div>
            </div>
            <a class="section2" href="#">
                <div class="down-button">
                    <div class="arrow"></div>
                </div>
            </a>
            
        </div>
        
        <div class="purple-card-area">
            <div class="purple-card-container">
                <h2 id="skills-title">Skills</h2>
                <div class="skills-cards-container">
                    <div class="skills-cards">
                        <img src="{% static 'img/python-logo.svg.png' %}" alt="Python">
                    </div>
                    <div class="skills-cards">
                        <img src="{% static 'img/django-logo.png' %}" alt="Django">
                    </div>
                    <div class="skills-cards">
                        <img src="{% static 'img/js-logo.png' %}" alt="JavaScript">
                    </div>
                    <div class="skills-cards">
                        <img src="{% static 'img/psql-logo.png' %}" alt="Postgresql">
                    </div>
                    <div class="skills-cards">
                        <img src="{% static 'img/html-css-logo.png' %}" alt="Html Css">
                    </div>
                    <div class="skills-cards">
                        <img src="{% static 'img/git.svg.png'%}" alt="Git">
                    </div>
                    <div class="skills-cards">
                        <img src="{% static 'img/fastapi.svg' %}" alt="FastApi">
                    </div>
                    <div class="skills-cards">
                        <img src="{% static 'img/rest-api.png' %}" alt="RestApi">
                    </div>
                </div>
               <!-- <div class="down-button">
                    <div class="arrow"></div>
                </div>-->
            </div>
        </div>

        <div class="card-area">
            <div class="card-container">
                <h2 id="projects-title">Projects</h2>
                <div class="info-card info-card-projects">
                    <p class="card-info projects-info">
                        Drinkteamclub is a web application that offers great choices of drinks and cocktails.
                        In this web app the user can look for a variety of cocktails by using the "Random button" or search for its favorites drinks by its cocktail name, 
                        category or ingredient. Each search will show: cocktail name, picture, category, ingredients and instructions of each drink.
                    </p>
                    <br />
                    <a class="projects-link" href="http://drinkteamclub.online/">drinkteamclub.online</a>
                    <div class="target2"></div>
                    <div class="projects-img-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wEvM8vmqiA4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <br />
                    <a class="projects-link" href="https://github.com/juannajul">My github page for more projects</a>
                </div>
            </div>
            <a class="section3" href="#">
                <div class="down-button" id="up-button">
                    <div class="arrow"></div>
                </div>
            </a>
            
        </div>

        <div class="purple-content-card-area">
            <div class="purple-card-container">

                <h2 id="contact-title">Contact</h2>
                <div class="contact-cards-container">
                    <div class="contact-form-container">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="contact-form-content">{{form.name}}</div>
                        <div class="contact-form-content">{{form.lastname}}</div>
                        <div class="contact-form-content">{{form.email}}</div> 
                        <div class="contact-form-content">{{form.message}}</div>
                        <div class="contact-form-content">
                            <button type="submit" name='mail' class="contact-button">SUBMIT</button>
                        </div>
                   </form>
                    </div>

                </div>
               
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'js/scroll.js' %}"></script>
{% endblock %}