{% extends "layout.html" %}

{% load static %}
{% block body %}

    <section id="index-area">
        <div id="banner-container">

            <div id="banner-content">

                <h1 id="banner-title">Juan Najul</h1>
                <ul class="option">
                    <li><span id="banner-web">Web</span></li>
                    <li><span id="banner-code">Code</span></li>
                    <li><span id="banner-backend">Backend</span></li>
                    <li><span id="banner-developer">Developer</span></li>
                </ul>

            </div>

        </div>
        
        <div id="card-area">
            <div class="card-profile">
                estudios
            </div>
            <div class="cards">
                
            </div>
            <div class="cards">
                    
            </div>
        </div>
        
        
    </section>

{% endblock %}